[Desktop Entry]
Version=1.0
Type=Application
Name=MedScript OPD
GenericName=Prescription & EMR Management System
Comment=Offline-First Outpatient Prescription and Clinical Records System for Doctors
Exec=medscript-opd %u
Icon=io.github.Plaguedoctor_sudo.MedScriptOPD
Terminal=false
Categories=MedicalSoftware;Office;Database;
Keywords=medical;prescription;opd;clinic;doctor;patient;records;emr;ehr;
StartupNotify=true
StartupWMClass=medscript-opd
MimeType=x-scheme-handler/medscript;
